@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,600|Roboto:300,400,700');



h1, h2, h3, h4, h5 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration:none;
}


header, footer {
  background-color: #38b6ff;
  padding: 10px;
}

main {
  padding: 10px;
  background-color: silver;
}

.post {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}

.post img {
  margin: 20px;
}

a.button7 {
			
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #38b6ff;
  box-shadow: 0 -3px #38b0ff inset;
  transition: 0.2s;
  display: flex;
  justify-content: center;
} 
a.button7:hover { background: #3fd1ff; }
a.button7:active {
	
  background: #38b0f7;
  box-shadow: 0 3px #38b4ff inset;
}
.footer-columns {
  display: flex;
}

.footer-column {
  flex: 50%;
  margin: 20px;
}

.post-info {
	color: grey;
}

.comment {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	margin-top: 10px;
}

.author {
	margin-top: 0px;
	margin-bottom: 10px;
}

.date {
	color: silver;
	margin-top: 0px;
	margin-bottom: 10px;
}

#sub-comment {
	margin-left: 40px;
}

#menu1{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
}

#menu1 ul{
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: auto;
	list-style: none;
}

#menu1 > ul::after{
	display: block;
	width: 100%;
	height: 0px;
	clear: both;
	content: " ";
}

#menu1 ul li{
	position: relative;
	display: block;
	float: left;
	width: auto;
	height: auto;
}

#menu1 ul li a{
	display: block;
	padding: 9px 25px 0px 25px;
	font-size: 14px;
	line-height: 1.3em;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	height: 36px;
	box-sizing: border-box;
	color: white;
}

#menu1 ul li ul{
    position: absolute;
    top: 36px;
    left: 0px;
    display: none;
    width: 200px;
    background: #38b6ff;
}

#menu1 ul li:hover ul{
	display: block;
}

#menu1 ul li ul li{
	float: none;
	width: 100%;
}

#menu1 ul li ul li a{
	display: block;
	text-transform: none;
	height: auto;
	padding: 7px 25px;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #ffffff;
	color: white;
}
#menu1 ul li ul li:hover{
    
    background: #0084d1;
}
#menu1 ul li ul li:first-child a{
	border-top: 0px;
}

.carousele{
	margin: 10px;
}

.carousele div img{
	width: 100%
}
.autorize{

display:flex;
align-items:center;
justify-content:center;

}
.backgr{
	background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	margin-top: 10px;
}
#form1st{
position: absolute; 
align-items:center;
justify-content:center;

    
    
}
form{
display:flex;
flex-direction: column;
width:400px;
}
input{
margin: 10px 0;
padding: 10px;
border: unset;
border-bottom: 2px solid #e3e3e3;
outline: none;
}
button{
padding:10px;
background:#e3e3e3;
border: unset;
cursor:pointer;
}
.errMess {
  color: red;
  font-weight: bold;
  padding-top:-10px;
  transition: color 0.3s;
}
.imgUser{
	
	display: inline-block; 
	 float: right;
}
.blockDataUser{
	display: inline-block; 
    text-align:right;
	vertical-align:top;
	
}

.blockDataUser p{
	font-family: 'Roboto', sans-serif;
font-size: 14px;
	line-height: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	}
.blockDataUser a{
	font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
	line-height: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
	
	/*border: dashed;
  border-width: 2px 4px;*/
}
.blockImgUser{
	display: inline-block; 
}
